<!DOCTYPE html>
<html>
  <head>
    <title>Vertretungsplan – Otto-Nagel-Gymnasium</title>
    <link rel="stylesheet" href="css/bootstrap.min.css?env=0">
    <link rel="stylesheet" href="css/style.css?env=0">

  <head>
  <body>
    <div class="topbar">
          <div class="topbar-inner">
            <div class="container">
              <a class="brand" href="#">Otto-Nagel-Gymnasium <span class="label">Beta</span></a>
              <ul class="nav">
                <li><a href="#">Allgemeines</a></li>
                <li><a href="#">Über Uns</a></li>
                <li><a href="#">Projekte</a></li>
                <li class="active"><a href="#">Vertretungsplan</a></li>
              </ul>
            </div>
        </div>
    </div>
        
    <div class="container" id="main">
    <div class="alert-message warning">
      <p><strong>Entwicklungsversion</strong> Nicht für Production benutzen.</p>
    </div>
   <h1>Vertretungsplan <small>Änderungen an deinem Stundenplan.</small></h1>
   <hr/>
   <ul class="pills">
     <li class="active"><a href="#">Montag</a></li>
     <li><a href="#">Dienstag</a></li>
     <li><a href="#">Mittwoch</a></li>
     <li><a href="#">Donnerstag</a></li>
     <li><a href="#">Freitag</a></li>
   </ul>
   <div class="day">
     <ul id="plan">
       <li>
           <h3>7.2</h3>
           <ul>
           <li>
             <h4>2. Block</h4>
             <h5>Geschichte</h5>
             Deutsch
            </li>
            <li>
              <h4>3. Block</h4>
              <h5>Mathematik</h5>
              Fällt aus
             </li>
             </ul>
         </li>
       <li>
         <h3>9.1</h3>
         <ul>
         <li>
           <h4>1. Block</h4>
           <h5>Mathematik</h5>
           Fällt aus
          </li>
          <li>
            <h4>2. Block</h4>
            <h5>Deutsch</h5>
            Geschichte
           </li>
           </ul>
       </li>
       <li>
          <h3>10.1</h3>
          <ul>
          <li>
            <h4>2. Block</h4>
            <h5>Geschichte</h5>
            Deutsch
           </li>
           <li>
             <h4>3. Block</h4>
             <h5>Mathematik</h5>
             Fällt aus
            </li>
            </ul>
        </li>
        
      </div>
  </body>
</html>